<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
 xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Daily Essentials Grocery Portal</title>
    </head>
    <body bgcolor = #FFFFED>
        <h1 align="center" style="font-family:tahoma">Welcome to Daily Essentials!</h1>
        <table align="center">
        <tr>
        <td/>
        <td>
        <p><b>Customer <i><a th:href="@{/home}">Login</a></i></b></p>
        </td>
        <td>
        </td>
        </table>
     </body>
</html>